@{
    
}
<h1>@ViewData["Title"]</h1>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Document</title>

    <style>
        *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.banner-container{
    display: flex;
    align-items: center;
    justify-content: center;

}

.banner-container .banner{
    max-height: 400px; /* Set a max-width */
    background: linear-gradient(-55deg, #ff7675 29%, #d63031 29.1%, #d63031 68%, #ff7675 68.1%);
    border-radius: 5px;
    margin: 10px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    box-shadow: 0px 5px 10px #0005;
    overflow: hidden;
}

.banner-container .banner .car{
    flex: 1 1 250px;
    padding: 15px;
    text-align: center;
}


.banner-container .banner .shoe img{
    width: 80%;
}


.banner-container .banner .content{
    flex: 1 1 250px;
    text-align: center;
    padding: 10px;
    text-transform: uppercase;

}
.banner-container .banner .content span{
    color: #eee;
    font-size: 25px;
}

.banner-container .banner .content span{
    color: #fff;
    font-size: 40px;
}

.banner-container .banner .content p{
    color: #fff;
    font-size: 20px;
    padding: 10px 0;
}

.banner-container .banner .content .btnn{
    display: block;
    height: 40px;
    width: 150px;
    line-height: 40px;
    background-color: #fff;
    color: black;
    margin: 5px auto;
    text-decoration: none ;
}

.banner-container .banner .content .women{
    position: relative;
    bottom: -33px;
    padding: 10px;
    flex: 1 1 250px;
}

.banner-container .banner .content .women img{
    width: 100%;
}



h4{
    text-align: center;
    font-size: 30px;
    margin: 0;
    padding-top: 10px;
}

.gallery{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
}


.contentt{
    width: 20%;
    margin: 15px;
    box-sizing: border-box;
    float: left;
    text-align: center;
    border-radius: 20px;
    padding-top: 10px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25);
    transition: .4s;

}

.img-2{
    width: 200px;
    height: 200px;
    text-align: center;
    margin: 0 auto;
    display: block;
    padding-top: 60px;
}

.contentt:hover{
    transform: translate(0px, -8px);
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

h6{
    font-size: 12px;
    text-align: center;
    margin: 0;
}

.btn-success{
    margin: 10px;
}






.contentt .ribbon{
    height: 150px;
    width: 150px;

    position: absolute;
    overflow: hidden;

}

.contentt .ribbon span{
    background: red;
    position: absolute;
    width: 200px;
    padding: 10px 0;
    color: #fff;
    text-align: center;
    top: 30px;
    right: 0px;
    text-transform: uppercase;
    transform: rotate(-45deg);
}

    </style>
</head>
<body>


    <div class="banner-container">

       <div class="banner">
        <!-- <div class="ribbon-wrap">
            <div class="ribbon"> 30% Off</div>
        </div> -->
        <div class="car">
            <img src="~/Images/carr.png" alt="car">
        </div>
        <div class="content">
            <span>upto</span>
            <h4>20% off</h4>
            <p>Offer ends after 5 days</p>
            <a href="" class="btnn"> View Offer</a>
        </div>
        <div class="women">
            <img src="~/Images/women.png" alt="women">
        </div>

       </div> 
    </div>

    <div class="gallery">
        <div class="contentt">
            <div class="ribbon"><span>50% Off</span></div>
            <img src="~/Images/whitecar.png" alt="car" class="img-2">
            <div>
            <span class="text-muted"><s>$20.00</s></span>
      <span class="text-danger font-weight-bold">$15.00</span>
    </div>

            <button type="button" class="btn btn-secondary">View</button>
            <button type="button" class="btn btn-success">Book</button>

        </div>

        <div class="contentt">
            <div class="ribbon"><span>50% Off</span></div>

            <img src="carr.png" alt="car" class="img-2">
            <div>
                <span class="text-muted"><s>$20.00</s></span>
                <span class="text-danger font-weight-bold">$15.00</span>
        </div>

            <button type="button" class="btn btn-secondary">View</button>
            <button type="button" class="btn btn-success">Book</button>

        </div>

        <div class="contentt">
            <div class="ribbon"><span>50% Off</span></div>

            <img src="carr.png" alt="car" class="img-2">
            <div>
                <span class="text-muted"><s>$20.00</s></span>
          <span class="text-danger font-weight-bold">$15.00</span>
        </div>
            <button type="button" class="btn btn-secondary">View</button>
            <button type="button" class="btn btn-success">Book</button>

        </div>

        <div class="contentt">
            <div class="ribbon"><span>50% Off</span></div>

            <img src="whitecar.png" alt="car" class="img-2">
            <div>
                <span class="text-muted"><s>$20.00</s></span>
                <span class="text-danger font-weight-bold">$15.00</span>
            </div>
            <button type="button" class="btn btn-secondary">View</button>
            <button type="button" class="btn btn-success">Book</button>

        </div>

                <div class="contentt">
            <div class="ribbon"><span>50% Off</span></div>

            <img src="whitecar.png" alt="car" class="img-2">
            <div>
                <span class="text-muted"><s>$20.00</s></span>
                <span class="text-danger font-weight-bold">$15.00</span>
            </div>
            <button type="button" class="btn btn-secondary">View</button>
            <button type="button" class="btn btn-success">Book</button>

        </div>

                <div class="contentt">
            <div class="ribbon"><span>50% Off</span></div>

            <img src="whitecar.png" alt="car" class="img-2">
            <div>
                <span class="text-muted"><s>$20.00</s></span>
                <span class="text-danger font-weight-bold">$15.00</span>
            </div>
            <button type="button" class="btn btn-secondary">View</button>
            <button type="button" class="btn btn-success">Book</button>

        </div>

                <div class="contentt">
            <div class="ribbon"><span>50% Off</span></div>

            <img src="whitecar.png" alt="car" class="img-2">
            <div>
                <span class="text-muted"><s>$20.00</s></span>
                <span class="text-danger font-weight-bold">$15.00</span>
            </div>
            <button type="button" class="btn btn-secondary">View</button>
            <button type="button" class="btn btn-success">Book</button>

        </div>

                <div class="contentt">
            <div class="ribbon"><span>50% Off</span></div>

            <img src="whitecar.png" alt="car" class="img-2">
            <div>
                <span class="text-muted"><s>$20.00</s></span>
                <span class="text-danger font-weight-bold">$15.00</span>
            </div>
            <button type="button" class="btn btn-secondary">View</button>
            <button type="button" class="btn btn-success">Book</button>

        </div>
    </div>
</body>
</html>
