@using Microsoft.AspNetCore.Identity
@model CarRentalHajurKo.Models.Order
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "Orders";
}

<h1>Orders</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="OrderNo" class="control-label"></label>
                <input asp-for="OrderNo" class="form-control" />
                <span asp-validation-for="OrderNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CustomerID" class="control-label"></label>
                <input asp-for="CustomerID" class="form-control" value="@UserManager.GetUserId(User)" />
                <span asp-validation-for="CustomerID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Phone" class="control-label"></label>
                <input asp-for="Phone" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rate" class="control-label"></label>
                <input asp-for="Rate" class="form-control" />
                <span asp-validation-for="Rate" class="text-danger"></span>
            </div> 
            <div class="form-group">
                <label asp-for="OrderDate" class="control-label"></label>
                <input asp-for="OrderDate" class="form-control" />
                <span asp-validation-for="OrderDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReturnDate" class="control-label"></label>
                <input asp-for="ReturnDate" class="form-control" />
                <span asp-validation-for="ReturnDate" class="text-danger"></span>
            </div>
            <div class="col-md-12 btn-group pb-2">
                <div class="form-group col-4 p-0">
                    <label asp-for="Photo" class="control-label"></label>
                    <img id="PreviewPhoto" src="~/images/noimage.jpg" alt="Logo Image"
                         width="125" height="125" />
                    <span asp-validation-for="PhotoUrl" class="text-danger"></span>
                </div>
                <div class="col-1 p-0">
                </div>
                <div class="form-group col-7 p-0">
                    <div class="input-group custom-file-button mt-5 pt-5">
                        <input asp-for="Photo" class="form-control custom-file-input" id="customFile">
                        <label class="input-group-text" for="customFile">Browse</label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Submit" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script type="text/javascript">

    </script>

}

